* {
    font-family: 'Banger', cursive;
}

body {
    background-color: black;
    color: #fff;
    font-size: 18px;
}

.fight-area{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#player1, #player2 {
    flex: 1;
}

.player1Img, .player2Img {
    border: 2px solid blue;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    > img {
        width: calc(100% - 50px);
    }
}

.player1Img {
    > .sorcerer, .little-monster, .big-monster {
        display: none;
    }
}

.player2Img {
    > .knight, .sorcerer, .little-monster {
        display: none;
    }
}

.player1-select, .player2-select {
    display: flex;
}

.life-bar {
    height: 10px;
    border: 1px solid #333;
    border-radius: 5px;
}

.life-bar .life {
    height: inherit;
    background-color: red;
    border-radius: 5px;
}

.log {
    border: 5px solid blue;
    height: 300px;
    overflow-y: scroll;
    border-radius: 20px 0 0 20px;
}

.attack-button {
    display: flex;
    border: 1px solid blue;
    padding: 10px;
    width: 100px;
    font-size: 18px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s linear;
}

.attack-button:hover {
    background-color: blue;
    box-shadow: 0 0 30px blue;
}

.button-new-game {
    display: flex;
    border: 1px solid blue;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 200px;
    transition: 0.5s linear;
    border-radius: 20px;

    > a {
        padding: 10px;
    }
}

.button-new-game:hover {
    background-color: blue;
    box-shadow: 0 0 20px blue;
}